@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  /* padding-top: 75px; */
  padding-bottom: 55px;
  height: 100%;
  background: url(../src/assets/images/home.png) no-repeat center/cover fixed;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}

.nav{
  padding: 10px;
  background-color: aliceblue;
  opacity: .7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
}

.item{
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.active-item{
  font-weight: bold;
  color: rgb(255, 153, 0);
  text-decoration: none;
}

.form-group{
  width: fit-content;
  margin: 50px;
  backdrop-filter: blur(10px); 
}


input[type=text], input[type=password] {
  /* width: 100%;  */ /* Leave off so search bar doesn't take up whole page, set width into form instead for login */
  padding: 15px;
  margin: 5px 0 15px 0;
  border: none;
}


.text-center{
  text-align: center;
}

.container {
  text-decoration: none;
  color: black;
}

.ing-list{
  display: inline;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.text-block {
  opacity: .8;
  background-color: black;
  color:white;
}

.text-block-recipe {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.left-column {
  float: left;
  width: 60%;
  margin: 2%;
  overflow: hidden;
}

.recipe-card {
  overflow: hidden;
  margin: 3%;
}

.recipe-card.hover{

}

.recipe-card-title {
  overflow: hidden;
  color:black;
  -webkit-font-smoothing: auto
}

.recipe-card-image {
  width: 100%;
}

.right-column {
  float: right;
  width: 30%;
  margin: 2%;
}

.footer {
  float: inherit;
}

.dietary-block {
  margin:1% 0% 1% 0%;
  display: flex;
  height: 5%;
  justify-content: center;
} 

/* .dietary-block img {
}  */